<%- include("header")-%>

 
<div class="box" id="heading">
<h1><%= listTitle %> List </h1>
	</div>


<div class="box">
	<% for(let i=0; i<newNotes.length; i++) { %>
	<div class="item">
		<input type="checkbox" >
		<p><%= newNotes[i] %></p>
	</div>

<% } %>

<form class="item" action="/" method="post">
<input type="text" name="inputednote" placeholder="New Task" autocomplete="off">
<button type="submit" name="list" value=<%=listTitle%>>+</buton>    <%#  Here in the value it akes only the first word %>
</form>

</div>	

<%- include("footer")-%>








 